# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
descent
*.exe
*.out
*.app

# gtags files
GPATH
GRTAGS
GTAGS
GSYMS

# Junk files
*~

# Misc
build
errors
lints
backup
*.plist
